@page
@model LojaApp.Pages.Admin.CrudProdutos.GenImagensModel
@{
    ViewData["Title"] = "Editar Produto";
}
@if (TempData["Mensagem"] != null)
{
    <div class="alert alert-success">
        @TempData["Mensagem"]
    </div>
}

<h4 class="mb-3">Adicionar Imagens Produto</h4>
<hr />
<div class="row">
    <div class="col-md-6">
        <form method="post" enctype="multipart/form-data" >
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <!-- Campo oculto-->
                <input type="hidden"  asp-for="AdicionarImagem.Id" class="form-control" />
            
            <div class="form-group mb-3">
                <label asp-for="AdicionarImagem.Nome" class="control-label"></label>
                <input asp-for="AdicionarImagem.Nome" class="form-control" />
                <span asp-validation-for="AdicionarImagem.Nome" class="text-danger"></span>
            </div>

            <!-- INICIO Form-Group Imagem -->
            <div class="form-group mb-4">
                <div class="d-flex gap-3">
                    <div class="flex-fill">
                        <label>Imagem</label>
                        <input type="file"
                            asp-for="AdicionarImagem.ImagemFile"
                            class="form-control" 
                            onchange="previewImage(event)" />
                    </div>
                    <div class="flex-fill text-center">
                        <label>Preview</label><br />
                        <img src="@(Model.AdicionarImagem.ImgUrl ?? "")"
                             alt="Imagem do produto"
                             id="preview"
                             class="img-thumbnail"
                             style="width:150px; height:150px; object-fit:cover;" />
                        <input type="hidden" asp-for="AdicionarImagem.ImgUrl" />
                    </div>
                </div>
            </div>
            <!-- FIM Form-Group Imagem -->
            <div class="form-group">
                <button type="submit"
                        value="Salvar"
                        asp-page-handler="AddImagem"
                        class="btn btn-success">
                    Salvar
                </button>
            </div>
        </form>
            <table class="table table-striped table-bordered">
                <thead class="table-light">
                    <tr>
                        <th> </th>
                        <th>IdImagem</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                @if (Model.AdicionarImagem.Imagens.Any())
                    {
                        foreach (var imagem in Model.AdicionarImagem.Imagens)
                        {
                            <tr>
                            <td><img src="~/@imagem.ImgUrl" style="width: 20px" /></td>
                                <td>@imagem.Produto.NomeProduto</td>
                                <td>
                                    <form method="post">
                                    <button type="submit" asp-page-handler="DeleteImagem"
                                            asp-route-IdImagem="@imagem.IdImagem"
                                            asp-route-IdProduto="@imagem.IdProduto"
                                            class="btn btn-danger">
                                        Excluir
                                    </button>
                                    </form>
                                    
                                </td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="6" class="text-center">Nenhuma imagem cadastrada</td>
                        </tr>
                    }
                </tbody>

            </table>
        
    </div>
 </div>

 <script>
     function previewImage(event) {
        var input = event.target;
        var preview = document.getElementById('preview');

        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function(e) {
                preview.src = e.target.result;
            }
            reader.readAsDataURL(input.files[0]);
        }
    }
 </script>
            

