@page
@model LojaApp.Pages.CrudSubstancias.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Substancia[0].Descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Substancia[0].VlUn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Substancia[0].TpMedida)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Substancia) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VlUn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TpMedida)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.IdSubstancia">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.IdSubstancia">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.IdSubstancia">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
