@using System.Security.Claims
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - LojaApp</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/LojaApp.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">LojaApp</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Privacy">Privacy</a>
                        </li>
                        @if (User.IsInRole("Admin"))
                        {
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Admin/CrudProdutos/Index">Produtos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Admin/Categorias/Index">Categorias</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Admin/CrudMateriaPrima/Index">MateriasPrimas</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Admin/CrudEntradaMateriais/Index">Entrada de Matéria-Prima</a>
                        </li>
                        }
                        </ul>
                    <ul class="navbar-nav ms-auto">
                        @if(User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item">
                                <div class="d-flex flex-column align-items-end">
                                    <span class="small fw-bold"><small>Bem-vindo, @User.Identity.Name!</small></span>
                                    <span class="small text-muted"><small>Email: @User.FindFirstValue(ClaimTypes.Email)</small></span>
                                </div>
                            </li>
                            <li class="nav-item  ms-5">
                                <form asp-area="Identity" asp-page="/Account/Logout" method="post" class="mt-1">
                                    <button type="submit" class="btn btn-outline-danger btn-sm">Sair</button>
                                </form>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item d-flex align-items-end me-3">
                                <a asp-area="Identity" asp-page="/Account/Login" class="btn btn-primary btn-sm">Entrar</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - LojaApp - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <!-- jQuery -->
    <script src="~/lib/jquery/dist/jquery.js"></script> <!-- jQuery Validation -->
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script> <!-- Globalize -->
    <script src="~/lib/jquery-globalize/globalize.js"></script>
    <script src="~/lib/jquery-globalize/cultures/globalize.culture.pt-BR.js"></script>
    <script> 
        // Define a cultura para pt-BR 
        Globalize.culture("pt-BR"); 
        // Sobrescreve o método number para usar Globalize
         $.validator.methods.number = function (value, element) {
             return this.optional(element) || !isNaN(Globalize.parseFloat(value)); 
         }; // Sobrescreve o método range para usar Globalize 
         $.validator.methods.range = function (value, element, param) { 
             var val = Globalize.parseFloat(value); 
             return this.optional(element) || (val >= param[0] && val <= param[1]); 
         };
         </script> 
         @RenderSection("Scripts", required: false)
</body>
</html>
