@page
@model LojaApp.Pages.Categorias.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1 class="mb-3">Gerenciamento de Categorias</h1>
@if (!string.IsNullOrEmpty(Model.MensagemErro))
{
    <div class="alert alert-danger">
        @Model.MensagemErro
    </div>
}
@if (!string.IsNullOrEmpty(Model.MensagemSucesso))
{
    <div class="alert alert-success">
        @Model.MensagemSucesso
    </div>
}
<hr />
<p>
    <a asp-page="Create" class="btn btn-success">Adicionar</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Categoria[0].Descricao)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Categoria) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td>
                <a class="btn btn-light" asp-page="./Edit" asp-route-id="@item.IdCategoria">Editar</a> |
                    <a class="btn btn-info" asp-page="./Details" asp-route-id="@item.IdCategoria">Details</a> |
                <a class="btn btn-danger" asp-page="./Delete" asp-route-id="@item.IdCategoria">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
