@page
@model LojaApp.Pages.CrudIngredientes.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1 class="mb-3">Gerenciamento de Ingredientes</h1>
<hr />
<p>
    <a asp-page="Create" class="btn btn-success">Adicionar</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Ingrediente[0].QtdIngrediente)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Ingrediente) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.QtdIngrediente)
            </td>
            <td>
                    <a asp-page="./Edit" asp-route-id="@item.IdIngrediente" class="btn btn-light">Editar</a> |
                    <a asp-page="./Details" asp-route-id="@item.IdIngrediente" class="btn btn-info">Detalhes</a> |
                    <a asp-page="./Delete" asp-route-id="@item.IdIngrediente" class="btn btn-danger">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
