@page
@model LojaApp.Pages.CrudMateriaPrima.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1 class="mb-3">Gerenciamento de Materias-Primas</h1>
<hr />
<p>
    <a asp-page="Create" class="btn btn-success">Adicionar</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ListMateriaPrima[0].Descricao)
            </th>
            <th>
               @Html.DisplayNameFor(model => model.ListMateriaPrima[0].VlUn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ListMateriaPrima[0].TpMedida)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.ListMateriaPrima) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td>
                    R$  @Html.DisplayFor(modelItem => item.VlUn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TpMedida)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.IdMateriaPrima" class="btn btn-light">Editar</a> |
                    <a asp-page="./Details" asp-route-id="@item.IdMateriaPrima" class="btn btn-info">Detalhes</a> |
                    <a asp-page="./Delete" asp-route-id="@item.IdMateriaPrima" class="btn btn-danger">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
